<li class="listing">
  <span class="u-pull-right listing-rating"><%= coffee_shop.popularity %></span>
  <span class="listing-name"><%= coffee_shop.name %></span>
  <span><%= coffee_shop.address %></span>
</li>