<form method="get" class="search">
  <input type="search" name="postcode" placeholder="Postcode" value="<%= @postcode %>">
  <input type="submit" value="Search" class="button">
  <input type="hidden" name="show_map"></input>
</form>