<article>
  <form method="get" class="search">
    <input type="search" name="postcode" placeholder="Postcode">
    <input type="submit" value="Search" class="button">
  </form>

  <section class="results">
    <%= flash[:no_results] %>
  </section>
</article>