<article>
  <%= render 'postcode_search' %>
  
  <section class="results">
    <% if @coffee_shops.empty? && @postcode %>
      <p>There are no results, please search again</p>
      <p><%= link_to 'Reset Search', root_path %></p>
    <% else %>
      <% if @coffee_shops.count > 0 %>
        <section class="results-view">
          <a href="#" id="list">List view</a>
          <a href="#" id="map">Map view</a>
        </section>
      <% end %>
      <ul class="coffee-shops">
        <%= render @coffee_shops %>
      </ul>
    <% end %>
  </section>
</article>