<article>
  <form method="get" class="search">
    <input type="search" name="postcode" placeholder="Postcode">
    <input type="submit" value="Search" class="button">
  </form>

  <section class="results">
    <% if flash[:no_results] %>
      <p><%= flash[:no_results] %></p>
      <p><%= link_to 'Reset Search', root_path %></p>
    <% end %>
  </section>
</article>